<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.yc.english"

          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".EnglishApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.view.activitys.MainActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".main.view.activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".read.view.activitys.BookActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".read.view.activitys.CoursePlayActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".read.view.activitys.AddBookActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".read.view.activitys.BookUnitActivity"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.WordUnitActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.ReadWordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.WordPracticeActivity"
            android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name=".group.view.activitys.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".group.view.activitys.GroupJoinActivity"/>

        <!--会话界面-->
        <activity
            android:name=".group.view.activitys.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.yc.english"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <!--会话列表-->
        <activity
            android:name=".group.view.activitys.ChatListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.yc.english"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".group.view.activitys.FileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".group.view.activitys.GroupMemberActivity"/>
        <activity android:name=".group.view.activitys.GroupManagerActivity"/>
        <activity android:name=".group.view.activitys.GroupChangeNameActivity"/>


        <receiver
            android:name=".group.view.receiver.GroupNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED"/>
            </intent-filter>

        </receiver>


        <activity android:name=".setting.view.activitys.SettingActivity"/>
        <activity android:name=".setting.view.activitys.FeedbackActivity"/>
        <activity android:name=".setting.view.activitys.PersonCenterActivity"/>
        <activity android:name=".main.view.activitys.RegisterActivity"/>
        <activity android:name=".main.view.activitys.ForgotActivity"/>

    </application>

</manifest>