<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yc.english">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".EnglishApp"
        android:allowBackup="true"
        android:icon="@mipmap/lanucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.view.activitys.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".main.view.activitys.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.view.activitys.LoginActivity">

        </activity>
        <activity android:name=".base.view.WebActivity"/>

        <activity
            android:name=".read.view.activitys.BookActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.CoursePlayActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.AddBookActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.BookUnitActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.WordUnitActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.ReadWordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".read.view.activitys.WordPracticeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".group.view.activitys.teacher.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />




        <!--会话界面-->
        <activity
            android:name=".group.view.activitys.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yc.english"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--会话列表-->
        <activity
            android:name=".group.view.activitys.ChatListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yc.english"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".group.view.activitys.teacher.GroupManagerActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupChangeNameActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupDeleteMemberActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupTransferActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupIssueTaskActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupSyncGroupListActivity" />
        <activity android:name=".group.view.activitys.student.GroupMyTaskDetailActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupPublishTaskListActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupTaskFinishAndUnfinshActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupVerifyActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupVerifyConditionActivity" />
        <activity android:name=".group.view.activitys.GroupCommonClassActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupTaskFinishDetailActivity" />
        <activity android:name=".group.view.activitys.student.GroupMyTaskListActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupTaskLookAndUnLookActivity" />
        <activity android:name=".group.view.activitys.student.GroupJoinActivity" />
        <activity android:name=".group.view.activitys.teacher.GroupMemberActivity" />
        <activity android:name="com.yc.english.group.view.activitys.student.GroupTaskGradeActivity" />
        <activity android:name=".group.view.activitys.student.GroupUpdateMyTaskActivity" />

        <receiver
            android:name=".group.view.receiver.GroupNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <activity android:name=".setting.view.activitys.SettingActivity" />
        <activity android:name=".setting.view.activitys.FeedbackActivity" />
        <activity android:name=".setting.view.activitys.PersonCenterActivity" />
        <activity android:name=".main.view.activitys.RegisterActivity" />
        <activity android:name=".main.view.activitys.ForgotActivity" />
        <activity android:name=".setting.view.activitys.ModifyPasswordActivity" />
        <activity android:name=".setting.view.activitys.NameSettingActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59719ccc04e20564f70004b6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="freestyle" />

        <meta-data
            android:name="com.yc.english.base.helper.GlideConfiguration"
            android:value="AppGlideModule" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name=".wxapi.WXEntryActivity"></activity>

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>